.descricao {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #61090E;
    color: white;
}

.images-aptos{
    width: 100%;
    height: fit-content;
}

.images-aptos img {
    width: 33.33333%;
    height: 550px;
}

.images-aptos {
    display: flex;
    width: 100%;
}

.descricao-aptos {
    padding: 70px;
    margin-bottom: 30px;
    font-size: 18px;
}
