@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu {
    z-index: 3;
    background-image: linear-gradient(rgb(13, 2, 2, 0.8), rgba(0, 0, 0, 0));
}

.menu a{
    font-size: 20px;
    text-decoration:none;
    color: white;
    padding: 15px 50px;
}

.menu .main-link{
    padding: 40px 50px;
}

.menu a:hover {
    opacity: 0.8;
    transform: scale(1.02);
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 15px;
    display: none;
    position: absolute;
    background-color: #130D0A;
    opacity: 70%;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    width: 100%;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover, .dropbtn:hover  {
    background-color: rgb(63, 60, 60) !important;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #130D0A;
    opacity: 70%;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #130D0A;
    color: white;
    display: flex;
    justify-content: center;
}

footer div {
    padding: 50px;
    margin-right: 50px;
}

footer h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 15px;
    font-size: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

.contatosFooter img {
    position: absolute;
    height: 20px;
}

.contatosFooter p {
    margin-left: 30px;
}

.adressFooter img {
    position: absolute;
    height: 20px;
}

.adressLinha1 {
    margin-left: 30px;
}

.socialFooter h4 {
    margin-left: 10px;
}
