section {
    display: flex;
    margin: 70px;
}

.texto {
    width: 50%;
    padding: 40px;
    margin-top: 10px;
    font-size: 25px;
}

.image {
    padding: 18px;
}

.titulo {
    margin-bottom: 50px;
    font-weight: bold;
}
