.page-title{
    width: 20vw;
    font-size: 6.5vw;
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 40vw;
    z-index: 2;
}

.headerBackImg{
    width: 100%;
    height: 900px;
    top: 0;
    filter:brightness(60%);
    z-index: 1;
    object-fit: cover;
    object-position: 20%;
}

section {
    display: flex;
    margin: 70px;
}

.texto {
    width: 50%;
    padding: 60px;
    margin-top: 50px;
    font-size: 22px;
}

.image {
    padding: 25px;
}

.titulo {
    margin-bottom: 30px;
    font-weight: bold;
}

.comodidades h1{
    text-align: left;
    font-family: "LibreBaskerville", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 8%;
    padding-bottom: 30px;
}

.comodidades {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

