@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #61090E;
    width: 100%;
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu{
    padding: 20px 0;
    z-index: 3;
}

.menu a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 50px;
}

.logo {
    display: flex;
    margin-left: 300px;
    padding: 70px;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

.inteira {
    display: flex;
    justify-content: space-between;
}

section {
    display: grid;
    background-color: #130D0A;
    color: white;
    padding: 60px;
    width: 400px;
    height: 550px;
    margin-left: 300px;
}

section h4 {
    margin-bottom: 20px;
}

section div {
    margin-bottom: 40px;
}

section p {
    margin-bottom: 15px;
    font-size: 15px;
}

section a {
    color: white;
    text-decoration: none;
}

.formulario {
    display: grid;
    margin-top: 70px;
    margin-right: 350px;
}

.formulario input {
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(240, 237, 237);
}

.formulario textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 15px;
    background-color: rgb(240, 237, 237);
}

.formulario button {
    width: 100px;
    height: 30px;
    background-color: #61090E;
    color: white;
}

.formulario button:hover {
    background-color: #3b070a;
    cursor: pointer;
}

