@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: background 0.7s ease;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
}
.dropdown-content a {
    color: gray;
    display: block;
}
.dropdown-content a:hover {
    text-decoration: rgb(187, 187, 187) underline;
    color: dimgrey;
    transform: scale(1.1);
}
.dropdown:hover .dropdown-content {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 160px;
    transition: background 0.6s ease;
}
.dropdown:hover {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: background 0.4s ease;
}


footer {
    height: 250px;
    width: 100%;
    background-color: #130D0A;
    color: white;
    display: flex; 
    justify-content: center;
}

footer div {
    padding: 50px;
    margin-right: 50px;
}

footer h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 15px;
    font-size: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

.contatosFooter img {
    position: absolute;
    height: 20px;
}

.contatosFooter p {
    margin-left: 30px;
}

.adressFooter img {
    position: absolute;
    height: 20px;
}

.adressLinha1 {
    margin-left: 30px;
}

.socialFooter h4 {
    margin-left: 10px;
}
