@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.headerBackImg{
    width: 100%;
    height: 900px;
    top: 0;
    filter:brightness(60%);
    z-index: 1;
    object-fit: cover;
    object-position: 20%;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 340px;
    width: 50%;
    z-index: 2;
}

.menu{
    padding: 20px 0;
    z-index: 3;
}

.menu a{
    font-size: 20px;
    text-decoration:none;
    color: white;
    padding: 15px 50px;
}

.label{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: darkred;
    padding: 25px;
}

.descricao {
    background-color: #61090E;
    color: white;
    padding: 50px;
    text-align: center;
}

.images1, .images2 {
    display: flex;
    width: 100%;
}

.image-holder{
    position: relative;
}

.images1 .image-holder, .images2 .image-holder {
    width: 50%;
    height: 450px;
    object-fit: cover;
    object-position: 20%;
    transition: opacity 0.3s ease;
}

.image-holder img{
    width: 100%;
    height: 100%;
}

.image-holder a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-align: center;
    z-index: 1;
    color: white;
    background-color: #130D0A;
    font-size: 35px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: grid;
    place-items: center;
}

.image-holder a:hover{
    opacity: 0.7;
}

.testemonials{
    height: fit-content;
    padding: 50px 0;
    background-color: #130D0A;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testemonial-card{
    width: 280px;
    height: 320px;
    padding: 20px;
}

.testemonial-card .card-header, 
.testemonial-card .address,
.testemonial-card .add-info {
    display: flex;
    align-items: center;
}

.testemonial-card .card-header{
    justify-content: space-between;
}

.testemonial-card h4{
    font-weight: 600;
    font-size: 18px;
}

.testemonial-card .address{
    margin-top: 8px;
}

.testemonial-card .address p{
    font-size: 14px;
}

.testemonial-card .address img{
    width: 16px;
    margin-right: 8px;
}

.testemonial-card .add-info{
    justify-content: space-between;
    margin: 28px 0;
}

.testemonial-card .review{
    text-align: justify;
}

.partners-title{
    color: #130D0A;
    padding: 50px 70px;
    font-size: 38px;
}

footer {
    height: 250px;
    width: 100%;
    background-color: #130D0A;
    color: white;
    display: flex; 
    justify-content: center;
}

footer div {
    padding: 50px;
    margin-right: 50px;
}

footer h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 15px;
    font-size: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}