.headerBackImg{
    width: 100%;
    height: 900px;
    top: 0;
    filter:brightness(60%);
    z-index: 1;
    object-fit: cover;
    object-position: 20%;
}

.menu{
    padding: 20px 0;
    z-index: 3;
}

.menu a {
    font-size: 20px;
    text-decoration:none;
    color: white;
    padding: 15px 50px;
}

section {
    display: flex;
    margin: 70px;
}


.texto {
    width: 50%;
    padding: 40px;
    margin-top: 10px;
    font-size: 25px;
}

.image {
    padding: 18px;
}

.titulo {
    margin-bottom: 50px;
    font-weight: bold;
}