@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.headerBackImg{
    width: 100%;
    height: 900px;
    top: 0;
    filter:brightness(60%);
    z-index: 1;
    object-fit: cover;
    object-position: 20%;
}

.menu{
    padding: 20px 0;
    z-index: 3;
}

.menu a {
    font-size: 20px;
    text-decoration:none;
    color: white;
    padding: 15px 50px;
}

section {
    display: flex;
    margin: 70px;
}

.texto {
    width: 50%;
    padding: 40px;
    margin-top: 50px;
}

.image {
    padding: 25px;
}

.titulo {
    margin-bottom: 20px;
    font-weight: bold;
} 


